<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WizWeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-text navbar-form navbar-right">
        <a ng-click="main.authenticate('google')" href="">Sign in with Google</a>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Want to optimize your week?</h1>
    <p>WizWeek helps you effectively plan your week based on your
    to-do list and appointments.</p>

    <p>You define tasks with deadlines, estimates and business value
    - and WizWeek jump starts your schedule.</p>

    <p>
    <a class="btn btn-primary btn-lg" role="button"
      ng-click="main.authenticate('google')">Sign in with Google to get started &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Clarify your priorities</h2>
      <blockquote>
        <p>&ldquo;What do you do the last week before you leave on a big trip? You clean
        up, close up, clarify, and renegotiate all your agreements with yourself
        and others. I just suggest that you do this weekly instead of yearly.&rdquo;</p>

        <footer>David Allen of <cite title="Getting Things Done">Getting Things Done</cite></footer>
      </blockquote>
    </div>
    <div class="col-md-6">
      <h2>Schedule your work</h2>
      <blockquote>
        <p>&ldquo;Just as there is only so much stuff we can fit into our
        closets, so also there is only so much stuff we can fit into our days.
        If we don't think in terms of a basic schedule ... we end up in overload.&rdquo;</p>

        <footer>Matt Perman of <cite title="What's Best Next">What's Best Next</cite></footer>
      </blockquote>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2015 David Raffensperger</p>
  </footer>
</div> <!-- /container -->
